<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xinhai.xinhaisemenanalysis">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <!-- 检测网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 如果您想获得客户端crash的报告, 需要添加这个权限 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/companyicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/companyicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.xinhai.xinhaisemenanalysis.FileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/update_files" />
        </provider>
        <activity
            android:name=".ActivityStartup"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activitys.MainActivity"
            android:screenOrientation="portrait">
          <!--  <intent-filter>
               &lt;!&ndash; <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
&ndash;&gt;
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />


            </intent-filter>-->
        </activity>
        <activity android:name=".ActivityGuideDeviceListAP"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".devices.monitor.ActivityGuideDeviceCamera"
            android:configChanges="orientation|keyboardHidden|screenLayout|keyboard|screenSize"
            >
       <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>




        </activity>
        <activity android:name=".devices.settings.ActivityGuideDeviceSetup">

        </activity>
        <activity android:name=".devices.settings.ActivityGuideDeviceSetupEncode">

        </activity>
        <activity android:name=".devices.settings.ActivityGuideDeviceSetupRecord">

        </activity>
        <activity android:name=".devices.settings.ActivityGuideDeviceSetupCamera">

        </activity>
        <activity android:name=".devices.settings.ActivityGuideDeviceSetupExpert">

        </activity>
        <activity android:name=".devices.settings.ActivityGuideDeviceChangePassw">

        </activity>
        <activity android:name=".devices.ActivityGuideDeviceRecordList"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>